@font-face {
    font-family: "Raleway-Bold";
    src : "fonts/Raleway/Raleway-Bold.ttf"
}


/*Suppression browser default CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 25px;
}

/*HEADER DEFINITIONS*/
/*Define FlexBox on Header*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*Header FlexBox properties*/
header #SiteLogo {
    width: 100px;
    height: 50px;
}
header #Navigation {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
header a {
    padding: 15px;
}



/*Filter + Search Section*/
#FilterSection {
    width: fit-content;
    display: flex;
    flex-direction: row;
}

#FilterSection h5 {
    height: 100%;
    display: inline;
}

#Filters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    width: fit-content;
}

.FilterButton {
    margin-left: 25px;
    margin: 15px;
    border-radius: 50px;
    border: 2px solid silver;
    display: flex;
    justify-content: flex-start;
}

.FilterButton a {
    padding: 15px;
}

.FilterButton div {
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 50px;
}




/*Hébergements Marseille*/
#hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#marseille {
    width: 70%;
    height: fit-content;
}


#marseille ul {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}


#card {
    width: 200px;
    height: fit-content;
    padding: 5px;
    margin: 15px;
    box-shadow: 0px 0px 5px 5px silver;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}


#cadre img {
    border-radius: 15px;
    width: 100%;
    height: 100px;
}


/*Hébergements Populaires*/
#hebergements #populaires {
    width: 30%;
    background-color: gray;
}







/*Footer*/
footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

footer ul {
    display: flex;
    flex-direction: column;
}