/* Import fonts */
@font-face {
    font-family: "Raleway-Light";
    src : url("fonts/Raleway/Raleway-Light.ttf")
}
@font-face {
    font-family: "Raleway-Medium";
    src : url("fonts/Raleway/Raleway-Medium.ttf")
}
@font-face {
    font-family: "Raleway-Regular";
    src : url("fonts/Raleway/Raleway-Regular.ttf")
}
@font-face {
    font-family: "Raleway-Bold";
    src : url("fonts/Raleway/Raleway-Bold.ttf")
}




/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:link{
    text-decoration: none!important;
}
a:visited {
    color: black;
}




/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#SiteLogo img {
    margin: 40px;
    width: 100px;
    height: 50px;
}

#Navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#Navigation a {
    padding: 30px;
    padding-top: 50px;
    font-family: "Raleway-Regular";
    text-decoration: none;
    height: 100px;
}
#Navigation .Button1 {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
#Navigation .Button3 {
    color: #0065FC;
    font-weight: bold;
}
#Navigation a:hover {
    color: #0065FC;
}






/* Search */
#SearchSection {
    padding-left: 40px;
}
#SearchSection h2 {
    font-family: "Raleway-Bold";
}
#SearchSection p {
    font-family: "Raleway-Medium";
    padding-top: 10px;
    padding-bottom: 10px;
}

#SearchSection #CountAvailableHostings {
    display: flex;
    padding-bottom: 15px;
    padding-top: 15px;
}
#SearchSection #CountAvailableHostings span {
    width: 25px;
    height: 25px;
    border: 1px solid silver;
    border-radius: 25px;
    padding-left: 9px;
    padding-top: 3px;
    color: #0065FC;
}
#SearchSection #CountAvailableHostings h4 {
    padding-left: 10px;
    padding-top: 3px;
    font-family: "Raleway-Light";
}

#SearchInput {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    height: 50px;
}
#SearchInput div {
    width: 55px;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 15px;
    padding-top: 10px;
}
#SearchInput i {
    padding-top: 15px;
    padding-left:5px;
}
#SearchInput input {
    font-family: 'Raleway-Bold';
    font-size: 18px;
    padding: 15px;
    width: 200px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 0px;
    border-right: 0px;
}

#SearchButton {
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 0px;
}
#SearchButton span {
    font-size: 16px;
    padding: 20px;
    font-family: 'Raleway-Medium';
}
#SearchButton i {
    display: none;
}






/* Filters */
#FilterSection {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 5px;
    margin-bottom: 30px;
}
#FilterSection h5 {
    padding-top: 30px;
    display: inline;
    font-family: "Raleway-Bold";
    font-size: 100%;
}
#FilterSection ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    width: fit-content;
}

.FilterButton {
    margin: 15px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    text-align: center;
}
.FilterButton i {
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 50px;
    color: #0065FC;    
    padding-top: 24px;
    position: absolute;
    display: block;
    z-index: 0;
}
.FilterButton a {
    font-family: "Raleway-Bold";
    height: 50px;
    padding-right: 15px;
    padding-left: 55px;
    padding-top: 13px;
    font-weight: bold;
    border-radius: 50px;
    border: 2px solid #D9D9D9;
}
.FilterButton a:hover {
    color: #0065FC;
    background-color: rgba(0, 0, 0, 0.05);
}






/* Global Images Settings */
.card {
    padding: 6px;
    margin: 15px;
    box-shadow: 0px 0px 20px 5px #D9D9D9;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
}

#hebergements {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
#hebergements h2 {
    padding: 15px;
    font-family: "Raleway-Bold";
}
#hebergements ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#hebergements .Photo {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: block;
    overflow: hidden;
    height: 200px;
    width: 100%;
}

.Photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#GalleryTitles {
    padding-bottom: 10px;
    font-family: "Raleway-Bold";
}

.HostName {
    padding: 10px;
    font-family: "Raleway-Bold";
    text-decoration: none;
    color: black;
    background-color: transparent;
    font-size: 20px;
}

.NightPrice {
    text-decoration: none;
    color: black;
    font-family: "Raleway-Regular";
    padding-left: 10px;
}

mark {
    font-weight: bold;
    background: none;
}

.RatingImg {
    display: flex;
}

.RatingImg img {
    width: 120px;
    height: 40px;
    padding-left: 5px;
    object-fit: contain;
}





/* Hébergements Marseille */
#marseille {
    width: 60%;
    padding: 25px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.05);
}
#marseille ul {
    justify-content: space-between;
}
#marseille #Lines {
    display: flex;
    width: 100%;
}
#marseille .card {
    height: 250px;
    width: 30%;
}
#marseille #ShowMore {
    padding: 20px;
    font-family: 'Raleway-Bold';
    font-size: 20px;
}




/* Hébergements Populaires */
#populaires {
    width: 30%;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.05);
}
#populaires #PopulairesHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 15px;
}
#populaires #PopulairesHeader i {
    padding-top: 25px;
    padding-right: 20px;
}
#populaires .card {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 175px;
}
#populaires .card div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    width: 60%;
}
#populaires .Photo {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    width: 40%;
    height: 100%;
}
#populaires .NightPrice {
    margin-bottom: 15px;
}




/* Activités Marseille */
#HostingActivityTitle {
    font-family: "Raleway-Bold";
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 50px;
}

#HostingActivity {
    display: flex;
    flex-direction: row;
    padding: 30px;
    align-items: stretch;
    height: 600px;
    margin-bottom: 25px;
}
#HostingActivity .card {
    width: 25%;
    padding: 0px;
    position: relative;
    margin: 25px;
}
#HostingActivity .HostName {
    position: absolute;
    bottom:0;
    z-index: 2;
    display: block;
    width: 100%;
    padding: 20px;
    background-color: white;
}
#HostingActivity .Photo {
    height: 100%;
}
#HostingActivity div {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 50px;
}
#HostingActivity .SubCard .card {
    width: 100%;
    height: 300px;
    margin: 25px;
}



/* Footer */
footer {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.08);
    padding-bottom: 50px;
    padding-top: 25px
}
footer ul {
    display: flex;
    flex-direction: column;
    padding-right: 15%;
    padding-left: 60px;
    padding-top: 25px;
}
footer ul a {
    font-family: "Raleway-Light";
    text-decoration: none;
    padding: 5px;
    color: black;
}
footer h4 {
    font-family: "Raleway-Bold";
    padding: 5px;
    padding-bottom: 15px;
    font-size: 18px;
}






/* ---------- MEDIA QUERIES --------- */
/* ------- 1200px-1650px ------ */
@media screen and (max-width: 1650px) {

    #marseille .card {
        width: 45%;
    }
}

/* ------- 992px-1200px ------ */
@media screen and (max-width: 1200px) {

    #hebergements {
        flex-wrap: wrap;
    }

    #marseille .card {
        width: 44%;
    }

    #populaires .card {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 240px;
    }
}

/* ------- 576px-992px ------ */
@media screen and (max-width: 992px) {
    
    header {
        flex-direction: column;
        margin-bottom: 0px;
    }

    #Navigation a {
        height: 50px;
        width: 33.3%;
        text-align: center;
    }

    #Navigation .Button1 {
        padding: 0px;
        border-top: none;
        border-bottom: 2px solid #0065FC;
        margin-bottom: 25px;
    }

    #Navigation .Button2 {
        padding: 0px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        color: black;
        margin-bottom: 25px;
    }

    #Navigation .Button3 {
        padding: 0px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 25px;
    }
    
    #hebergements {
        flex-wrap: wrap;
        padding: 0px;
        flex-direction: column-reverse;
    }

    #marseille {
        width: 100%;
        margin-right: 50px;
        background-color: white;
    }

    #marseille #Lines {
        flex-wrap: wrap;
    }

    #marseille .card {
        width: 44%;
    }

    #populaires {
        border-radius: 0px;
        width: 100%;
    }

    #populaires ul {
        display: flex;
        flex-direction: row;
    }

    #populaires .card {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 175px;
    }

    #HostingActivity {
        flex-wrap: wrap;
        height: fit-content;
        
    }

    #HostingActivity .card {
        width: 42%;
        height: 450px;
    }

    #HostingActivity .SubCard {
        height: 500px;
        width: 42%;
    }
}   

/* ------- MAX 576px ------ */
@media screen and (max-width: 576px) {

    #SearchInput{
        width: 100%;
    }
    #SearchTextInput {
        width: 80%;
    }
    #SearchButton {
        border-radius: 15px;
    }
    #SearchButton span {
        display: none;
    }
    #SearchButton i {
        display: inline-block;
        width: 50px;
        padding-bottom: 12px;
        padding-right: 5px;
    }
    
    #CountAvailableHostings {
        margin-bottom: 30px;
        padding-right: 20px
    }

    #FilterSection h5 {
        padding-top: 5px;
    }

    #FilterSection ul {
        margin-top: 15px;
        position: relative;
        left: -10px;
    }

    .FilterButton {
        margin: 10px;
    }

    header {
        flex-direction: column;
        margin-bottom: 0px;
    }

    #Navigation a {
        height: 50px;
        width: 50%;
        text-align: center;
    }

    #Navigation .Button1 {
        padding: 0px;
        border-top: none;
        border-bottom: 2px solid #0065FC;
        margin-bottom: 25px;
    }

    #Navigation .Button2 {
        padding: 0px;
        border-bottom: 2px solid silver;
        margin-bottom: 25px;
    }

    #Navigation .Button3 {
        width: 50px;
        position: absolute;
        top: 50px;
        right: 80px;
        border: none;
    }

    #hebergements {
        flex-wrap: wrap;
        padding: 0px;
        flex-direction: column-reverse;
    }

    #marseille {
        background-color: white;
        width: 100%;
    }

    #marseille .card {
        width: 100%;
    }

    #populaires {
        width: 100%;
        border-radius: 0px;
    }

    #HostingActivity {
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        padding: 40px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    #HostingActivity .card {
        width: 100%;
        margin: 0px;
        height: 250px;
        margin-bottom: 50px;
    }

    #HostingActivity div {
        width: 100%;
    }

    #HostingActivity .SubCard {
        width: 100%;
        height: 600px;
        padding: 0px;
        margin-bottom: 50px;
    }

    #HostingActivity .SubCard .card {
        margin-left: 0px;
    }
}