@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('/fonts/Raleway/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'Raleway-Light';
    src: url('/fonts/Raleway/Raleway-Light.ttf');
}

h2
{
	font-family: Raleway-ExtraBold;
}

*
{
	font-family: Raleway-Light;
}

#Filters
{
	display: grid;
  	grid-template-columns: 20% 20% 20% 20%;
}

#Filters p
{
	border:1px solid rgba(50,50,50,0.1);
	border-radius:30px;
	width:200px;
	height:30px;
	text-align:left;
	padding-left:15px;
	padding-top:12px;
	display:inline-block;
}

#Navigation
{
	border:1px solid rgba(50,50,50,0.1);
	width:200px;
	height:30px;
	text-align:center;
	padding-top:20px;
	border-top:2px solid blue;
	display:inline-block;
}

#SiteHeader
{	
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-direction:flex-end;
}


#hebergements
{
	display:flex;
}



/* -------- HÉBERGEMENTS À MARSEILLE -------- */


#marseille
{
	background-color: rgba(240, 240, 240, 1);
	border-radius:30px;
	margin-right: 20px;
	padding-right: 50px;
	width: 80%;
	height: 500px;
	margin-left: 30px;
}

#marseille h4
{
	margin-top: -2px;
}

#marseille ul
{
	display: grid;
	grid-template-columns: repeat(3, 20%);
	grid-template-rows: repeat(2, 50%);
}

#marseille li
{
	width: 200px;
	height: 200px;
	box-shadow:0px 0px 20px 0px rgba(0,0,0,0.25);
	background-color: white;
	border-radius:15px;
	padding: 2.5%;
	margin-left:20px;
	margin-right:20px;
}

#marseille img
{
	width:100%;
	height: 150px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
}

#ln1
{
	grid-row-start: 1;
}

#ln2
{
	grid-row-start: 2;
}

/* -------- HÉBERGEMENTS POPULAIRES -------- */

#populaires
{
	justify-content: flex-start
}

#populaires
{
	display:block;
  	background-color: rgba(240, 240, 240, 1);
  	border-top-left-radius:30px;
  	border-bottom-left-radius:30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#populaires p
{
	padding-left: 5px;
	padding-bottom: 30px;
}

#populaires h4
{
	padding-left: 15px;
}

#populaires li
{
	box-shadow:0px 0px 20px 0px rgba(0,0,0,0.5);
	width:250px;
	background-color: white;
	border-top-left-radius:30px;
	border-bottom-left-radius:30px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#populaires img
{
	width:90%;
	height:150px;
	border-top-left-radius:30px;
	border-bottom-left-radius:30px;
	margin:15px;
}


/* -------- ACTIVITÉS À MARSEILLE -------- */

#HostingActivity
{
	display:flex;
	flex-direction: row;
	justify-content:flex-start;
}

#GalleryTitles
{
	padding-left:30px;
	padding-top:30px;
}
/*
#GalleryOfItemsWithTitle
{
	display:flex;
	flex-direction:column;
	border-radius:30px;
	background-color:rgba(0,0,0,0.05);
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
}
*/
#SearchButton
{
	background-color:blue;
	color:white;
	width:200px;
	height:30px;
	border-style:none;
	border-radius:0px 20px 20px 0px;
	text-align:left;
	
}

#SearchTextInput
{
	width:200px;
	height:30px;
}

#FilterSection
{
	display:flex;
	flex-direction: row;
}

footer
{
	display:flex;
	justify-content:flex-start;
	background-color:rgba(0,0,0,0.1);
}

ul
{
	list-style-type:none;
}